body {
    background: #e9e7db;
    font-family: 'Arial Black', Arial, sans-serif;
}

.bayan__container {
    max-width: 1000px;
    margin: 1.5rem auto;
}

.bayan__header {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.bayan__string {
    display: flex;
    flex-direction: column;
}

.bayan__string::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #0000002e;
}

.bayan__input {
    display: none;
}

.bayan__label {
    font-size: 22px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
    transition: color 0.3s ease;
}

.bayan__label::after {
    content: '+';
    display: none;
}

/*.meme__wrp {
    visibility: hidden;
    opacity: 0;
    max-width: 40vw;
    align-self: center;
    margin-bottom: 20px;
    transition: opacity .6s ease, visibility .5s ease, height .4s ease;
    transition: all .5s ease;
    height: 0;
}*/

.meme {
    align-self: center;
    width: 0;
    height: 0;
    opacity: 0;
    margin-bottom: 0;
    max-width: 40vw;
    transition: height .4s ease, width .4s ease, opacity .3s ease-in .1s, margin-bottom .4s;
}

.bayan__container:hover .bayan__label {
    color: unset;
}

.bayan__container:hover .bayan__label::after {
    display: block;
}

/*.bayan__label:hover ~ .meme,
.bayan__input:checked + .bayan__label + .meme {
    height: 100%;
    width: 100%;
    opacity: 1;
}*/

.bayan__string:hover .meme,
.bayan__input:checked + .bayan__label + .meme {
    height: 100%;
    width: 100%;
    opacity: 1;
    margin-bottom: 2rem;
}