body {
    background: #e9e7db;
    font-family: 'Arial Black', Arial, sans-serif;
}

.bayan__container {
    width: 90vw;
    margin: 1.5rem auto;
}

.bayan__header {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.bayan__string {
    display: flex;
    flex-direction: column;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #0000002e;
}

.bayan__input {
    display: none;
}

.bayan__label {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.2s ease;
}

.text__cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0;
}

.meme {
    align-self: center;
    width: 0;
    height: 0;
    opacity: 0;
    margin-bottom: 0;
    max-width: 80vw;
    transition: height .4s ease, width .4s ease, opacity .3s ease-in .1s, margin-bottom .4s;
}

.bayan__input:checked + .bayan__label .meme {
    height: 100%;
    width: 100%;
    opacity: 1;
    margin-bottom: 1rem;
}

.plus {
    transform: scale(1.5);
    transition: all .2s;
}

.bayan__input:checked + .bayan__label .text__cont .plus {
    transform: rotate(45deg) scale(1.5);
}

.bayan__label:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .bayan__container {
        width: 80vw;
        margin: 1.5rem auto;
    }
    
    .bayan__header {
        font-size: 1.75rem;
    }

    .bayan__label {
        font-size: 1.25rem;
    }

    .text__cont {
        margin: 0.75rem 0;
    }

    .meme {
        max-width: 60vw;
    }

    .bayan__input:checked + .bayan__label .meme {
        margin-bottom: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .bayan__container {
        width: 70vw;
    }
    
    .bayan__header {
        font-size: 2.5rem;
    }

    .bayan__label {
        font-size: 1.5rem;
        color: blue;
    }
    
    .plus {
        visibility: hidden;
    }

    .meme {
        max-width: 45vw;
    }

    .bayan__input:checked + .bayan__label,
    .bayan__container:hover .bayan__label {
        color: unset;
    }

    .bayan__input:active ~ .bayan__label {
        color:blue;
    }

    .bayan__input:checked + .bayan__label .meme {
        margin-bottom: 1.5rem;
    }

    .bayan__container:hover .plus{
        visibility: visible;
    }

    .bayan__label:hover .plus{
        transform: rotate(45deg) scale(1.5);
    }

    .bayan__label:hover .meme {
        height: 100%;
        width: 100%;
        opacity: 1;
        margin-bottom: 1rem;
    }
}